<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Téléchargement</h2>
        <ol class="breadcrumb">
            <li><a>DECLARATION EMPLOYEUR</a> </li>
            <li class="active"><strong>Téléchargement</strong></li>
        </ol>
    </div>
    <div class="col-lg-2">
    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="panel-group" id="accordion">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h5 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" class="collapsed">ANNEXE 1</a>
                        </h5>
                    </div>
                    <div id="collapseOne" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
                        <div class="panel-body">
                            <p>Traitements, salaires, pensions et rentes viagères payés</p>
                            <p><a href='@Url.Action("GetFile", "DeclarationEmployeur", new { CODE = 1 }, null)'><span class="badge badge-primary">Télécharger</span></a></p>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" class="collapsed" aria-expanded="false">ANNEXE 2</a>
                        </h4>
                    </div>
                    <div id="collapseTwo" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
                        <div class="panel-body">
                            <p>
                                Montants servis à des résidents en Tunisie au titre des honoraires,
commissions, courtages, rémunérations payées aux salariés et aux non
salariés en contrepartie d’un travail occasionnel ou accidentel en dehors
de leur activité principale, loyers, loyers des hôtels, honoraires servis à
des personnes soumises au régime réel, jetons de présence, actions et
parts sociales et plus-value immobilière
                            </p>
                            <p><a href='@Url.Action("GetFile", "DeclarationEmployeur", new { CODE = 2 }, null)'><span class="badge badge-primary">Télécharger</span></a></p>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree" class="collapsed" aria-expanded="false">ANNEXE 3</a>
                        </h4>
                    </div>
                    <div id="collapseThree" class="panel-collapse collapse" aria-expanded="false">
                        <div class="panel-body">
                            <p>
                                Revenus des capitaux mobiliers, intérêts des comptes spéciaux
d’épargne et intérêts des prêts
                            </p>
                            <p><a href='@Url.Action("GetFile", "DeclarationEmployeur", new { CODE = 3 }, null)'><span class="badge badge-primary">Télécharger</span></a></p>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour" class="collapsed" aria-expanded="false">ANNEXE 4</a>
                        </h4>
                    </div>
                    <div id="collapseFour" class="panel-collapse collapse" aria-expanded="false">
                        <div class="panel-body">
                            <p>
                                Montants servis à des personnes non résidentes ou non établies en
Tunisie au titre des honoraires, loyers, redevances, jetons de présence,
plus-value immobilière, plus-value de cession des actions et des parts
sociales, rémunérations ou revenus servis à des personnes
résidentes ou établies dans des paradis fiscaux et autres revenus
servis à des non résidents et non établis
                            </p>
                            <p><a href='@Url.Action("GetFile", "DeclarationEmployeur", new { CODE = 4 }, null)'><span class="badge badge-primary">Télécharger</span></a></p>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseFive" class="collapsed" aria-expanded="false">ANNEXE 5</a>
                        </h4>
                    </div>
                    <div id="collapseFive" class="panel-collapse collapse" aria-expanded="false">
                        <div class="panel-body">
                            <p>Autres montants payés et soumis à la retenue à la source</p>
                            <p><a href='@Url.Action("GetFile", "DeclarationEmployeur", new { CODE = 5 }, null)'><span class="badge badge-primary">Télécharger</span></a></p>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseSix" class="collapsed" aria-expanded="false">ANNEXE 6</a>
                        </h4>
                    </div>
                    <div id="collapseSix" class="panel-collapse collapse" aria-expanded="false">
                        <div class="panel-body">
                            <ul class="category-list" style="padding: 0">
                                <li><i class="fa fa-circle text-navy"></i>Ristournes commerciales et non commerciales </li>
                                <li><i class="fa fa-circle text-danger"></i>Ventes effectuées par les entreprises industrielles et les entreprises
de commerce en gros aux personnes physiques soumises à l’impôt
sur le revenu selon le régime forfaitaire</li>
                                <li><i class="fa fa-circle text-primary"></i>Montants perçus en espèces au titre des marchandises vendues et
services rendus</li>
                            </ul>
                            <p><a href='@Url.Action("GetFile", "DeclarationEmployeur", new { CODE = 6 }, null)'><span class="badge badge-primary">Télécharger</span></a></p>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseSeven" class="collapsed" aria-expanded="false">ANNEXE 7</a>
                        </h4>
                    </div>
                    <div id="collapseSeven" class="panel-collapse collapse" aria-expanded="false">
                        <div class="panel-body">
                            <p>
                                Montants payés pour autrui
(l’avant dernier sous paragraphe du paragraphe I de l’article 52 du
code de l’impôts sur les sociétés et de l’impôt sur le revenu)
                            </p>
                            <p><a href='@Url.Action("GetFile", "DeclarationEmployeur", new { CODE = 7 }, null)'><span class="badge badge-primary">Télécharger</span></a></p>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseEight" class="collapsed" aria-expanded="false">RECAP</a>
                        </h4>
                    </div>
                    <div id="collapseEight" class="panel-collapse collapse" aria-expanded="false">
                        <div class="panel-body">
                            <p>
                                tableau récapitulatif de la déclaration
d’employeur
                            </p>
                            <p><a href='@Url.Action("GetFile", "DeclarationEmployeur", new { CODE = 999 }, null)'><span class="badge badge-primary">Télécharger</span></a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

