<link href="~/css/plugins/dataTables/dataTables.bootstrap.css" rel="stylesheet">
<link href="~/css/plugins/dataTables/dataTables.responsive.css" rel="stylesheet">
<link href="~/css/plugins/dataTables/dataTables.tableTools.min.css" rel="stylesheet">
<div class="ibox-content" id="Content">
    <div class="row">
        <span class="badge badge-info" style="float: right; margin-right: 15px; margin-bottom: 15px;">
            <h1>TOTAL</h1>
            <h1 id="TOTAL">@ViewBag.TOTAL</h1>
        </span>
        <span class="badge badge-info" style="float: right; margin-right: 15px; margin-bottom: 15px;">
            <h1>RECU</h1>
            <h1 id="RECU">@ViewBag.RECU</h1>
        </span>
        <span class="badge badge-info" style="float: right; margin-right: 15px; margin-bottom: 15px;">
            <h1>RESTE</h1>
            <h1 id="RESTE">@ViewBag.RESTE</h1>
        </span>
    </div>
    <table class="table table-striped table-bordered table-hover dataTables-example"
        id="Tableau">
        <thead>
            <tr>
                <th>CODE
                                </th>
                <th>MATRICULE
                                </th>
                <th>NOM & PRENOM
                                </th>
                <th>MONTANT
                                </th>
                <th>RECU
                                </th>
                <th>RESTE
                                </th>
                <th>DATE OBTENTION
                                </th>
                <th>DATE 1ER RETRAIT
                                </th>
                <th>NOMBRE MOIS
                                </th>
                <th>TYPE
                                </th>
                <th>STATUT
                                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (dynamic item in Model)
            {

                <tr id="@item.ID">
                    <td>
                        @item.CODE
                    </td>
                    <td>
                        @item.EMPLOYEES.NUMERO
                    </td>
                    <td>
                        @item.EMPLOYEES.FULLNAME
                    </td>
                    <td>
                        @item.MONTANT.ToString("F3")
                    </td>
                    <td>
                        @item.RECU.ToString("F3")
                    </td>
                    <td>
                        @item.RESTE.ToString("F3")
                    </td>
                    <td>
                        @item.DATE.ToShortDateString()
                    </td>
                    <td>
                        @item.DATE_ECHEANCE.ToShortDateString()
                    </td>
                    <td>
                        @item.NBR_MOIS
                    </td>
                    <td>
                        @item.TYPE
                    </td>
                    <td>
                        @if (item.STATUT == "NON CLOTURE")
                        {
                            <span class="label label-danger">NON CLOTURE</span>
                        }
                        @if (item.STATUT == "CLOTURE")
                        {
                            <span class="label label-success">CLOTURE</span>
                        }
                    </td>
                </tr>
            }
        </tbody>
        <tfoot>
        </tfoot>
    </table>
</div>
<script type="text/javascript" src="~/js/plugins/dataTables/jquery.dataTables.js"></script>
<script type="text/javascript" src="~/js/plugins/dataTables/dataTables.bootstrap.js"></script>
<script type="text/javascript" src="~/js/plugins/dataTables/dataTables.responsive.js"></script>
<script type="text/javascript" src="~/js/plugins/dataTables/dataTables.tableTools.min.js"></script>
<script type="text/javascript">
    var table = $('#Tableau').DataTable();
</script>
